body{
    background-color: black;
    font-family: "Inter", sans-serif;
}
header{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 32px;
}
main{
    display: flex;
    margin: 1% 5% 0% 5%;
    width: auto;
    align-items: stretch;
}
/*parte media*/
#campoEntrada{
    width: 50%;
    height: min-content;
    display: inline;
    background: transparent;
    margin: 5% 4% 4% 12%;
    height: 420px;
    border: 1px solid #F3F5FC;
    box-shadow: 10px 10px 15px 4px #0000c8;
    background: linear-gradient(white,skyblue);
}
#muñeco{
    width: 200px;
    height: 200px;
}
#texto{
    background: transparent;
    margin: 5% 2% 0 10%;
    width: 83%;
    height: 60%;   
    border: none;
    color: #2011c2;
    font-family: "Inter"; 
    font-size: 30px;
    resize: none;
    outline: none;
}
#texto::placeholder{
    font-family: "Inter" , sans-serif;
    color: #0e70e8;
    font-size: 32px;
    font-weight: 400;
}
#campoEntrada p{
    margin-left: 10%;
    height: 10px;
    font-size: 12px;
    color: black;
}
#campoEntrada p::before{
    content: url(fotos/advertencia.png);
    vertical-align: middle;
}
/* los botones */
button{
    padding: 20px;
    margin: 3% 0 0 10%;
    width: 40%;

    border: 1px solid #0A3871;
    border-radius: 24px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    cursor: pointer;
}
button:hover{
    font-weight: bold;
}
button:active{
    border: 1px solid rgb(139, 166, 255);
}
/* boton encriptar*/
#encriptar {
    padding: 17px 40px;
    border-radius: 50px;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
}
   
 #encriptar:hover {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}
#encriptar:active {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
   }
/* boton desencriptar*/
#desencriptar {
   padding: 17px 40px;
   border-radius: 50px;
   border: 0;
   background-color: white;
   box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
   letter-spacing: 1.5px;
   text-transform: uppercase;
   font-size: 15px;
   transition: all .5s ease;
   margin-left: 5%;
}
#desencriptar:hover {
   letter-spacing: 3px;
   background-color: hsl(261deg 80% 48%);
   color: hsl(0, 0%, 100%);
   box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}
#desencriptar:active {
   letter-spacing: 3px;
   background-color: hsl(261deg 80% 48%);
   color: hsl(0, 0%, 100%);
   box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
   transform: translateY(10px);
   transition: 100ms;
}
/*lado derecho la caja de salida*/
#salidaTexto{
    display: inline-block;    
    vertical-align: top;
    margin: 0;
    padding: 15px;
    background: linear-gradient(white,skyblue);
    box-shadow: 10px 10px 15px 4px  #0000c8;
    border-radius: 32px;
    text-align: center;
    height: 460px;
    border: 1px solid white;
    margin: 0% 0% 0% 10%;
}
#textoVacio{
    display: inline-block;
    margin: 10% 0 0 0;
    font-size: 22px;
    width: 336px;
    height: 70%;
}
#textoVacio p{
    margin-top: 15px;
    width: 336px;
}
#textoVacio p:nth-child(2){
    color: #343A40;
    font-weight: 700;
    font-size: 20px;
}
#textoVacio p:nth-child(3){
    color: #495057;
    font-weight: 400;
    font-size: 16px;
}
/*boton copiar*/
#copiar {
    padding: 17px 40px;
    border-radius: 50px;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
    display: none;
    visibility: hidden;  
    margin: 5% auto;   
     width: 70%;
}
#copiar:hover {
    letter-spacing: 3px;
    background-color: rgb(34, 24, 220);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(24, 145, 220) 0px 7px 29px 0px;
}
   
#copiar:active {
    letter-spacing: 3px;
    background-color: rgb(24, 50, 220);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(24, 145, 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}
/* footer*/
footer{
    margin: 0 auto;
    padding-top:5px;
    color:white;
    text-align: center;
    font-size: 16px;
    height: 79px;
}
footer img{
    height: 32px;
    width: 32px;
    background: #F3F5FC;
}
/* responsive*/
@media screen and (max-width:820px) {
   header{
        position: initial;
        margin: 10% 0 0 5%;
    }
    main{
        display: block;
        margin: 0 5%;
        width: auto;
    }
    #campoEntrada{
        width: auto;
        height: min-content;
        display: block;
        margin: 10% 0 0 0;
    }
    #salidaTexto{
        width: auto;
        height: fit-content;
        display: block;
        margin: 10% 0 0 0;
    }
    #texto{
        margin: 0;
        width: 100%;
    }
    #campoEntrada p{
        margin-bottom: 5%;
    }
    button{
        width: 48%;
        display: inline;
        margin: 0;
    }
    #desencriptar{
        margin: 0 0 0 3%;
    }
    #textoVacio{
        margin: 0;
        width: auto;
        height: fit-content;
    }
    #textoVacio img{
        display: none;
        visibility:hidden;
    }
    #textoVacio p{
        width: auto;
    }
    #copiar{
        margin: 5% auto;
    }
}
@media screen and (max-width:480px) {
    header{
        position: initial;
        margin: 5% 0 0 5%;
    }
    main{
        margin: 10px 5%;
        width: auto;
    }
    #campoEntrada{
        width: auto;
        height: min-content;
        display: block;
        margin: 10% 0 0 0;
    }
    #texto{
        margin: 0;
    }
    button{
        width: 100%;
        display: block;
        margin: 0;
    }
    #desencriptar{
        margin: 5% 0 0 0;
    }
    #salidaTexto{
        width: auto;
        height: fit-content;
        display: block;
        margin: 10% 0 0 0;
    }
    #textoVacio{
        margin: 0;
        width: auto;
        height: fit-content;
    }
    #textoVacio img{
        display: none;
        visibility:hidden;
    }
    #textoVacio p{
        width: auto;
    }
    #copiar{
        margin: 5% auto;
    }
}